.navigator-wrapper {
  width:100%;
  height: 100%;
}

.navigator {
  text-align: center;
  width: 320;
  top:15;
}

.navigator-item {
  width:40;
  margin-left: 20;
  margin-right: 20;
  font-size: 15;
  font-weight: bold;
  color:rgba(0,0,0,0.6); 
}

.indicator {
  top: 30;
  width: 320;
  height:2;
  margin-top:10;
}

.indicator-item {
  width: 40;
  height: 2;
  top:0;
  background-color: #086ed5;
}