.font-awesome {
    font-family: "FontAwesome";
}

.border-bottom {
  height:1;
  border-width:1;
  border-color:#ccc;
}

.scrollview-wrapper {
  height:100%;
  width:100%;
}


.border {
  height: 1;
  border-width: 0;
  background-color: #CCC;
}


.major-gray-color {
  color: #AAA;
}

.major-blue-color {
  color:#086ed5;
}

.slide-out {
    animation-name: slideout;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
   animation-fill-mode: forwards;
}

@keyframes slideout {
    from { transform: translate(0, 0); }
    to { transform: translate(0, 40); }
}