<ScrollView  #scrollview class="scrollview" orientation="horizontal">
    <StackLayout class="scrollview-content" orientation="horizontal" >
        <GridLayout class="scrollview-tab" rows="auto,*" [style.width]="tabWidth" >
            <items row="1" [items]="all" [onItemTap]="onItemTap"></items>
        </GridLayout>
        <GridLayout class="scrollview-tab" rows="auto,*" [style.width]="tabWidth" >
            <items row="1" [items]="good" [onItemTap]="onItemTap"></items>
        </GridLayout>
        
        <StackLayout class="scrollview-tab" [style.width]="tabWidth"><Label text="3"></Label></StackLayout>
        <StackLayout class="scrollview-tab" [style.width]="tabWidth"><Label text="4"></Label></StackLayout>
    </StackLayout>
</ScrollView>